 .particles-js-canvas-el {
     z-index: 0;
 }

 #section1 {
     z-index: -2;
 }

 #section2 {
     z-index: 0;
     position: relative;
     padding: 5%;
     margin-bottom: 0%;
     height: 40px;


 }

 

 .item {
     z-index: 2;
     margin-left: 40px;






 }

 @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
 .hey {
  
     display: inline-block;
     color: #000900; 
     padding: 50px 27px 50px 20px;
     
     min-height: auto+10%;
     max-height: 500;
     width: 100%;
     opacity: 0.9;
     background: linear-gradient(-45deg, #e68f75, #e73c7e, #5337a0, #00ddaa);
     background-size: 400% 400%;
     animation: gradient 15s ease infinite;
   
 }

 /* Hover effect */
 #hey:hover {
     opacity: 2;
     transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
     background-color: rgba(15, 157, 86, 0.948);
     color:whitesmoke;
     opacity: 1;
   
         box-shadow: -3px -3px 20px 3px red, 3px 3px 20px 3px blue;
 }

 .card-item:hover span{
    color: #fff;
 }

 .card-item span{
    color: #fff;
 }



 .card-list .card-item {
    
    z-index: 100;

    background-repeat: no-repeat;
    padding-top: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(189, 6, 6, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

 #section4 {
     z-index: 0;
 }

 #section5 {}

 #section6 {
     z-index: 1000;
 }

 #lights {
     position: absolute;
     z-index: -10;
     top: 0;
     left: -1;
     margin-bottom: 0%;
     /* make this section take the full space of his parent element */
     width: 100%;
     height: 100%;



 }

 

 

 

 .serviseuberschrift, p, h1 {
    
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 60px;
      
 }

 .serviseuberschrift p {
     color: #343536;
     
     font-family: "Libre Baskerville", serif;
     line-height: 45px;
     text-align: center;
     text-shadow: 0 1px 1px #fff;
     padding-top: 20px;
 }

 #logoDiv img{
    width: auto;
    height: 197px;


 }


 .serv{
    text-align: center;
 }