 
.particles-js-canvas-el{
    z-index: -1;
}
 
#section1{
    z-index: 2;
}
#section2{
    z-index: 0;
    position: relative;
    padding: 5%;
    margin-bottom: 0%;
    height: 40px;
    
   
}
h3{
    color :rgb(36, 10, 140);
}
.item{
    z-index:2;
    margin-left: 40px;
  
  
 
    
   

}
.hey{
    border:none;
      background-color: rgb(203, 30, 30);
    display: inline-block; /* Makes the div inline with text */
    padding: 10px; /* Adds some padding for spacing */
  
     
    text-align: center; /* Centers the text horizontally */
    transition: border-color 0.3s; /* Adds a smooth transition effect for the border color */
    cursor: pointer; /* Changes cursor to a pointer on hover */
    background-color: rgba(42, 81, 200, 0.532);
     min-height: 600px;
     max-height: 500;
     
     width: 100%;
     opacity: 0.9;
 
     margin: 50px;
     
}

/* Hover effect */
.hey:hover { 
    opacity: 2;
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
    background-color: rgba(203, 12, 232, 0.799);
    box-shadow: rgba(7, 115, 192, 0.566) 0px -23px 25px 0px inset, 
    rgba(12, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(12, 0, 0, 0.12) 0px -79px 40px 0px inset, 
    rgba(12, 0, 0, 0.06) 0px 2px 1px, 
    rgba(12, 0, 0, 0.09) 0px 4px 2px, 
    rgba(122, 0, 0, 0.09) 0px 8px 4px, 
    rgba(122, 0, 12, 0.09) 0px 16px 8px, 
    rgba(12, 0, 0, 0.09) 0px 32px 16px, 
    rgba(0, 225, 255, 0.2) 0px 23px 25px 0px inset, /* Shadow from the top */
    rgba(12, 0, 0, 0.15) 0px 36px 30px 0px inset, /* Shadow from the top */
    rgba(12, 0, 0, 0.12) 0px 79px 40px 0px inset; }
#section3{
    z-index: 0;
      
}
#section4{
    z-index: 0;
}
#section5{
    
}
#section6{
    z-index: 1000;
}

 #lights{
    position: absolute;
    z-index: -1;
    top: 0;
    left: -1;
    margin-bottom: 0%;
    /* make this section take the full space of his parent element */
    width: 100%;
     
 

 }

#hey1{
     
    background-image: none;
}
#hey2{
    background-image: none;
}
#hey3{
    background-image: none;
}
#hey4{
    background-image: none;
}